{% extends "layout.html" %}
{% block content %}
    <div class="w-full mb-4 flex justify-between items-center">
        <h1 class="text-lg text-gray-800 font-semibold">
            Welcome, {{ club['email'] }}
        </h1>

        <a
            href="{{ url_for('logout') }}"
            class="text-indigo-600 transition hover:tex text-indigo-700 hover:underline"
        >
            Logout
        </a>
    </div>


    Points available: {{ club['points'] }}

    <h3>Competitions:</h3>
    <ul>
        {% for comp in competitions%}
        <li>
            {{ comp['name'] }}<br />
            Date: {{ comp['date'] }}</br>
            Number of Places: {{ comp['numberOfPlaces'] }}

            {% if comp['numberOfPlaces']|int > 0 %}
              <a href="{{ url_for('book',competition_slug=comp['slug'],club_slug=club['slug']) }}">
                Book Places
              </a>
            {% endif %}
        </li>
        <hr />
        {% endfor %}
    </ul>
{% endblock %}
